<!doctype html>
<html>
<head>
	<title>da Vinci Gallery</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="apple-mobile-web-app-title" content="da Vinci" />
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/css/davinci.css" rel="stylesheet" />
	<link href="/css/jquery.fancybox.css" rel="stylesheet" />

	{% block head %}{% endblock %}
</head>
<body>
	<nav>
		<ul class="navbar-timeline">
			<li>
				<a class="navbar-brand" href="#">da Vinci</a>
				<ul>
					<li>&nbsp;</li>
					<li><a href="#" data-year="newest">Newest</i></a></li>
					<li>&nbsp;</li>
					<li><a href="#" data-year="2014">2014</i></a></li>
					<li><a href="#" data-year="2013">2013</i></a></li>
					<li><a href="#" data-year="2012">2012</i></a></li>
				</ul>
			</li>
		</ul>

		<input type="text" id="search-box" placeholder="start typing to search" />

		<ul class="navbar-filters">
			<li class="active"><a href="#" title="All pictures"><i class="fa fa-asterisk"></i></a></li>
			<li><a href="#" title="Favorite pictures"><i class="fa fa-star"></i></a></li>
			<li><a href="#" title="Events with 5+ pictures"><i class="fa fa-fire"></i></a></li>
			<li><a href="#" title="Events with movies"><i class="fa fa-film"></i></a></li>
			<li><a href="#" title="Hidden pictures"><i class="fa fa-eye"></i></a></li>
		</ul>
	</nav>

	<div class="clearfix"></div>
	<h2 id="event-label"></h2>
	<div id="grid-view"></div>
	<div class="clearfix"></div>
	<h4 id="event-date"></h4>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/underscore-min.js"></script>
	<script type="text/javascript" src="/js/handlebars.runtime.min.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/tpl/timeline-year.js"></script>
	<script type="text/javascript" src="/tpl/event-grid.js"></script>
	<script type="text/javascript" src="/tpl/pic-grid.js"></script>
	<script type="text/javascript" src="/js/davinci.js"></script>
</body>
</html>
