body { background-color: #222; }
div.event-grid { float: left; height: 300px; margin: 10px; }
div.event-grid img { box-shadow: 0px 0px 10px 2px #000; }
div.event-grid img:hover { box-shadow: 0px 0px 10px 1px #777; }
div.event-grid h5 { color: #DBDBDB; text-shadow: 1px 1px 5px #000; text-align: center; }
div.event-grid:hover { cursor: pointer; }

div.pic-grid { float: left; height: 300px; margin: 10px; }
div.pic-grid img { box-shadow: 0px 0px 10px 2px #000; }
div.pic-grid img:hover { box-shadow: 0px 0px 10px 1px #777; }
div.pic-grid h5 { color: #DBDBDB; text-shadow: 1px 1px 5px #000; text-align: center; }
div.pic-grid:hover { cursor: pointer; }
