body
	background-color: #222

.navbar
	border-radius: 0px
	margin-bottom: 0px

div.fancybox-outer
	background-color: black

h2#event-label
	color:       #dadada
	margin:      25px 25px 25px 110px
	text-shadow: 0px 0px 10px #777
h4#event-date
	color:       #bbb
	margin:      50px 10px 10px 110px
	text-shadow: 0px 0px 4px #444
	line-height: 25px

div#timeline
	position:         fixed
	width:            110px
	margin:           0px
	background-color: #111
	float:            left
	ul
		list-style-type: none
		padding:         10px
	ul ol
		list-style-type: none
		padding-left:    20px

div#grid-view
	margin-left: 110px
	div.event-grid
		position: relative
		float:    left
		width:    220px
		height:   300px
		margin:   10px
		img
			width:      220px
			height:     220px
			box-shadow: 0px 0px 10px 2px #000
		img:hover
			cursor:     pointer
			box-shadow: 0px 0px 10px 1px #777
		small
			position:         absolute
			top:              5px
			right:            5px
			z-index:          100
			color:            #eee
			background-color: #000
			opacity:          0.65
			padding:          3px
			font-weight:      bold
			border-radius:    3px
		h5
			color:       #DBDBDB
			text-shadow: 1px 1px 5px #000
			text-align:  center
			line-height: 20px
	div.pic-grid
		float:  left
		width:  220px
		margin: 10px
		img
			width:      220px
			box-shadow: 0px 0px 10px 2px #000
		img:hover
			cursor:     pointer
			box-shadow: 0px 0px 10px 1px #777

@media (min-width: 800px)
	div#grid-view div.pic-grid
		height:   220px
		img
			height: 220px














@media (max-width: 799px)
	ul.navbar-nav
		display: none

	div#timeline
		position:         relative
		width:            110px
		margin:           0px
		background-color: #111
		float:            left
		ul
			list-style-type: none
			padding:         10px
		ul ol
			list-style-type: none
			padding-left:    20px

	div#grid-view
		margin: 0px
		div.event-grid
			width:    154px
			height:   250px
			margin:   3px
			img
				width:      154px
				height:     154px
				box-shadow: 0px 0px 4px 1px #000
			img:hover
				cursor:     pointer
				box-shadow: 0px 0px 4px 1px #000
			small
				top:              2px
				right:            2px
				padding:          3px
			h5
				line-height: 17px
		div.pic-grid
			width:      310px
			margin:     5px
			img
				width:      310px
				box-shadow: 0px 0px 4px 1px #000
			img:hover
				cursor:     pointer
				box-shadow: 0px 0px 4px 1px #000

@media (orientation: landscape)
	div#grid-view
		div.event-grid
			width:        136px
			min-height:   136px
			img
				width:      136px
		div.pic-grid
			width:        265px
			img
				width:      265px
